# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Cache
.eslintcache

# Build folders
dist/
build/

# Uploaded files
uploads/